

body{
    font-family: 'Franklin Gothic book', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;
    
   

}


.titulo{
    margin-left: 20px;
    text-align: left;
    font-size: 35px;
    color: #005883;
    
}

.navegacion{
    width: 100%;
    margin: 0%;
    background:  #005883;
    text-align: center;
    font-size: 20px;
    
    
    
}

.navegacion ul{
   list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
    
}

.menu > li > a{
    display: block;
    padding: 40px 40px;
    color: #F0B429;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    
}

.menu li a:hover{
     color: #fff;
     transition: all .3s;
}

.submenu{
    position: absolute;
    background: #005883;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.tabla6{
    font-family: 'Franklin Gothic book', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    border-collapse: collapse;
    font-size: 15px;
    margin: 10px;
    text-align: justify;
    line-height: 20px;
    margin-top: 6px;
}

.tabla6 h2{
    font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
    color: #005883;
    font-size: 25px;
    font-weight: normal;
    margin: 20px;
    line-height: 20px;
    margin-top: 5%;
    

}

.tabla6 p{
    font-family: 'Franklin Gothic book', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    margin: 20px;
    text-align: justify;
    font-size: 20px;

}

.tabla6 li{
    font-family: 'Franklin Gothic book', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    margin: 20px;
    text-align: justify;
    font-size: 20px;
}



.tabla2 h2{
    width: 1350px;
    text-align: center;
    color: #005883;
    height: 40px;
    font-size: 40px;
    margin-top: 3%;
    
    
}

.tabla2 h3{
    background: #005883;
    height: 30px;
    text-align: center;
    width: 1400px;
    color: #F0B429;
    font-size: 20px;
    
    

}

.tabla2 p{
    text-align: justify;
    font-size: 20px;
    margin: 10px;
    margin-top: 0%;
    
}
 
.elemento{
   width: 100%;
   text-align: center;
}

.metadatos{
    width: 100%;
   text-align: center;
}

.scrip{
    width: 100%;
   text-align: center;
}

.secciones{
    width: 100%;
    text-align: center;  
}

.agrupacion{
    width: 100%;
    text-align: center; 
}

.agrupacion2{
    width: 100%;
    text-align: center; 
}

.semantica{
    width: 100%;
    text-align: center; 
}

.semantica1{
    width: 100%;
    text-align: center;
}

.semantica2{
    width: 100%;
    text-align: center;
}

.ediciones{
    width: 100%;
    text-align: center; 
}

.contenido{
    width: 100%;
    text-align: center;  
}

.contenido2{
    width: 100%;
    text-align: center;
}

.datos{
    width: 100%;
    text-align: center;  
}

.formularios{
    width: 100%;
    text-align: center;
}

.formulario2{
    width: 100%;
    text-align: center;
}

.elementosinteractivos{
    width: 100%;
    text-align: center;
}

.tabla3 h2{
    width: 1350px;
    text-align: center;
    color: #005883;
    height: 40px;
    font-size: 40px;
}

.tabla3{
    text-align: justify;
    font-size: 20px;
    margin: 20px;
}

.atributos1{
    width: 100%;
    text-align: center; 
}

.atributos2{
    width: 100%;
    text-align: center;
}

.atributos3{
    width: 100%;
    text-align: center;
}

.atributos4{
    width: 100%;
    text-align: center;
}

.atributos5{
    width: 100%;
    text-align: center;
}

.atributos6{
    width: 100%;
    text-align: center;
}

.atributos7{
    width: 100%;
    text-align: center;
}

.atributos8{
    width: 100%;
    text-align: center;
}

.atributos9{
    width: 100%;
    text-align: center;
}

.atributos10{
    width: 100%;
    text-align: center;
}
.atributos11{
    width: 100%;
    text-align: center;
}

.atributos12{
    width: 100%;
    text-align: center;
}

.atributos13{
    width: 100%;
    text-align: center;
}

.tabla3 h3{
    background: #005883;
    height: 50px;
    text-align: center;
    width: 100%;
    color: #F0B429;
    font-size: 30px;
    font-weight: bold;
}

.tabla3 p{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    height: 0%;
    margin-bottom: 70px; 
}

.tabla5{
    font-family: 'Times New Roman', Times, serif;
    color: #005883;
    font-size: 30px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.tabla5 h3{
    font-family: 'Times New Roman', Times, serif;
    color: #F0B429;
    text-align: center;
}

.centro{
    
    display: block;
    
}

.ejemplo1{
    float: left;
    margin-top: 10px;
    text-align: justify;
    margin-left: 50px;
    border-radius: 20px;
    width: 40%;
    line-height: 20px;
}
.ejemplo2{
    margin-right: 50px;
    float: right;
    margin-top: 10px;
    text-align: justify;
    border-radius: 20px;
    width: 50%;
    line-height: 20px;
}

.img_ejemplo1{
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

aside{
 
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-right: 20px;
    text-align: right;
    width: 200px;
}

.centrar h3{
    background: #005883;
    height: 50px;
    text-align: center;
    width: 100%;
    color: #F0B429;
    font-size: 30px;
    font-weight: bold;
}

.centrar p{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    height: 0%;
    margin-bottom: 70px;
    
}

.tabla9 h2{
    line-height: 0%;
    width: 1350px;
    text-align: center;
    color: #005883;
    height: 40px;
    font-size: 40px;
    
}

.tabla9 p{
    font-family: 'Franklin Gothic book', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    color: black;
    font-size: 20px;
    margin: 10px;
    
    
}
.tabla9 h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    color: #005883;
    font-size: 20px;
    margin: 10px;
    
}
.img_ejemplo3{
    
    text-align: center;
     
}
.img_ejemplo4{
    
    text-align: center;
    
}
.tabla{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    border-collapse: collapse;
    font-size: 15px;
    margin: 20px;
    text-align: justify;
    line-height: 20px;
    margin-top: 6px;
}
.tabla h2{
    color: #005883;
}

footer p
{
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 0%;
    color: #F0B429;
}

footer
{
    padding-left: 0%;
    position:fixed;
    left: 0px;
    bottom:0px;
    width:100%;
    background-color: black;
}

.video h2{
    width: 1350px;
    text-align: center;
    color: #005883;
    height: 40px;
    font-size: 30px;
    margin-top: 3%;
}
.test h2{
    width: 1350px;
    text-align: justify;
    height: 40px;
    font-size: 20px;
    
}
.crucigrama h2{
    width: 1350px;
    text-align: justify;
    height: 40px;
    font-size: 20px; 
}
.html{
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-right: 20px;
    text-align: right;
    
}

.redes h2{
    font-family: 'Franklin Gothic book', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}
.sociales{
    text-align: right;
    padding-bottom: 20px;
    margin-right: 20px;
    
}
.sociales li{
    display: inline-block;
    
}

.sustentacion h2{
    font-family: 'Franklin Gothic book', 'Arial Narrow', Arial, sans-serif;
    width: 1350px;
    text-align: center;
    color: #005883;
    height: 40px;
    font-size: 30px;
    margin-top: 3%;
}



 
